body{ /*margenes de la web*/
    margin: 0%;
    padding: 0%; 
    background-color: rgb(37, 199, 135);
        height: 100vh;
}

.error{
    color: rgb(143, 8, 8);
}


.mainContainer{
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    
    background-color: beige;
    width: 80%;
    margin: auto;
    padding-left: 3em;
    padding-bottom: 2em;
    height: 100%;
}

.registerBox{
    width: 30%;
    background-color: rgba(127, 227, 255, 0.447);
    padding: 3em;
    border-radius: 10px;
}

.registerText{
    font-size: 1.5em;
}

.myPhoto{
    width: 10em;
}
