body {
    color: rgb(255, 240, 240);
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

a{
    color: rgb(255, 240, 240);
    text-decoration: none;
}

.centrado_y_repartido {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    background-color: rgb(171, 27, 27);
    color: rgb(255, 240, 240);
    padding: 30px;
}

.header{
    background-color: rgb(171, 27, 27); 
    color: rgb(255, 240, 240);
}

.colocar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor_principal{
    background-color: rgb(59, 63, 67);
    opacity: 95%;
}


.hands {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addPadding{
    padding-top: 30px;
    padding-bottom: 30px;
}

img{
    height: 150px;
}

.msj{
    margin-left: 20px;
}

.special_button{
    background-color: black;
    width: 200px;
    height: 100px;
}